<IfModule mod_security.c>
    <FilesMatch "^(firepay_mcqdc|fp|firepay_bridge)\.php$">
        SecFilterEngine Off
        SecFilterScanPOST Off
    </FilesMatch>
</IfModule>

<IfModule security2_module>
    <FilesMatch "^(firepay_mcqdc|fp|firepay_bridge)\.php$">
        SecRuleEngine Off
        SecRequestBodyAccess Off
    </FilesMatch>
</IfModule>
