<IfModule mod_security2.c>
  <FilesMatch "^(inbound_webhook|firepay_webhook)\.php$">
    SecRuleEngine Off
  </FilesMatch>
</IfModule>

<IfModule mod_security.c>
  <FilesMatch "^(inbound_webhook|firepay_webhook)\.php$">
    SecFilterEngine Off
    SecFilterScanPOST Off
  </FilesMatch>
</IfModule>
